/*----------------------------------global--------------------------------*/
body.lock {
    overflow: hidden;
}
body { 
    font-family: var(--font-family-base); 
    font-size: 1rem;
    color: var(--color-black); 
    background: var(--color-white);
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
}
._container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0px var(--container-padding-x);
}
section {
    padding: var(--section-padding-y) 0px;
}
._ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
.title {
    font-family: 'Merriweather';
    @include fluid-text(24, 36);
    line-height: 100%;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 24px;
    img {
        @include mobile {
            width: 3.7rem;
        }
    }
}
.subtitle {
    @include fluid-text(18, 32);
    line-height: 100%;
    color: var(--color-white);
}
.wrapper--mod {
    background-color: var(--color-gray);
}
.hidden {
    display: block;
}
.hide {
    display: none;
}
/*----------------------------------global--------------------------------*/