:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-orange: #FEAD0E;
    --color-green: #19BB4F;
    --color-gray: #818181;

    --border: 1px solid var(--color-black);
    --border-radius: 10px;
    --border-radius-small: 5px;

    --shadow: 0px 0px 20px 0px var(--color-black);

    --font-family-base: 'Intro', sans-serif;

    --container-width: 82.75rem;
    --container-padding-x: 1rem;

    --section-padding-y: 3.13rem;
}