* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100dvh;
  min-width: 320px;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  font-size: inherit;
  color: inherit;
  display: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

address {
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  src: url("../fonts/IntroRegular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/IntroBold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Intro-Book";
  src: url("../fonts/Intro-Book.woff2") format(woff2);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-orange: #FEAD0E;
  --color-green: #19BB4F;
  --color-gray: #818181;
  --border: 1px solid var(--color-black);
  --border-radius: 10px;
  --border-radius-small: 5px;
  --shadow: 0px 0px 20px 0px var(--color-black);
  --font-family-base: "Intro", sans-serif;
  --container-width: 82.75rem;
  --container-padding-x: 1rem;
  --section-padding-y: 3.13rem;
}

/*----------------------------------global--------------------------------*/
body.lock {
  overflow: hidden;
}

body {
  font-family: var(--font-family-base);
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-black);
  background: var(--color-white);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

._container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0px var(--container-padding-x);
}

section {
  padding: var(--section-padding-y) 0px;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-size: clamp(24px, 2.7906976744vw, 36px);
  line-height: 100%;
  color: var(--color-red);
}

.subtitle {
  font-size: clamp(18px, 2.480620155vw, 32px);
  line-height: 100%;
  color: var(--color-white);
}

/*----------------------------------global--------------------------------*/
/*----------------------------------reviews--------------------------------*/
.reviews__stars span {
  font-weight: 400;
}
@media (max-width: 48rem) {
  .reviews__stars span {
    display: none;
  }
}
.reviews__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem 1rem;
  flex-wrap: wrap;
  margin-bottom: 8rem;
}
@media (max-width: 48rem) {
  .reviews__top {
    margin-bottom: 2rem;
  }
}
.reviews__estimation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.reviews__estimation :first-child {
  color: var(--color-orange);
  font-size: clamp(24px, 4.0310077519vw, 52px);
  font-weight: 700;
}
.reviews__statistics {
  display: flex;
  justify-content: space-between;
  gap: 0rem 1.5rem;
  margin-bottom: 6.3rem;
}
@media (max-width: 48rem) {
  .reviews__statistics {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.8rem;
  }
}
.reviews__block {
  flex-basis: 32rem;
}
.reviews__item {
  margin-bottom: 3.5rem;
}
@media (max-width: 48rem) {
  .reviews__item {
    margin-bottom: 1.5rem;
  }
}
.title {
  font-family: "Merriweather";
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 24px;
}
@media (max-width: 48rem) {
  .title img {
    width: 3.7rem;
  }
}

.stars--mod {
  margin-bottom: 0.5rem;
}
@media (max-width: 48rem) {
  .stars--mod {
    margin-bottom: 0rem;
  }
}

.progress-bar {
  background-color: #F0F0F0;
  width: 100%;
  height: 12px;
  border-radius: 16px;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
}
.progress-bar__fill {
  background: linear-gradient(90deg, #000000, #666666);
  height: 100%;
  width: 0;
  border-radius: 16px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.item__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
/*----------------------------------reviews--------------------------------*/
/*----------------------------------form--------------------------------*/
.form {
  max-width: 600px;
  margin: 0 auto;
  color: var(--color-black);
  padding: 2rem;
  background-color: var(--color-white);
  border-radius: 5px;
  margin-bottom: 1rem;
  position: relative;
}
.form::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(77, 3, 98, 0.1921568627) url(../images/loading.gif) center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
.form._sending::after {
  opacity: 1;
  visibility: visible;
}
.form__label {
  font-size: 1rem;
  display: block;
  margin-bottom: 0.5rem;
}
.form__input, .form__textarea {
  width: 100%;
  background-color: #f1d5f9;
  padding: 0.7rem;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
.form__input:focus, .form__textarea:focus {
  box-shadow: 0 0 15px var(--color-blue);
}
.form__input._error, .form__textarea._error {
  border: 1px solid red;
}
.form__error {
  font-size: 0.7rem;
  color: red;
  opacity: 0;
}
.form__error.view {
  opacity: 1;
}
.form__textarea {
  resize: none;
  margin-bottom: 1rem;
}
.form__button {
  width: 100%;
  padding: 1rem;
  background-color: var(--color-blue);
  cursor: pointer;
  color: var(--color-white);
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.5rem;
}

.select {
  background-color: #f1d5f9;
  color: var(--color-violet);
  padding: 0.4rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.file__item {
  position: relative;
}
.file__input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}
.file__button {
  background-color: var(--color-blue);
  color: var(--color-white);
  display: inline-flex;
  padding: 0.4rem;
  border-radius: 5px;
}
.file__preview {
  display: inline-block;
  max-width: 100px;
  margin-top: 1rem;
}
.file__preview img {
  width: 100%;
}

.checkbox {
  width: 100%;
  margin-bottom: 1rem;
}
.checkbox._error .checkbox__label::before {
  border: 1px solid red;
}
.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}
.checkbox__label {
  font-size: clamp(0.8rem, 1.4vw, 1rem);
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.checkbox__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 16px;
  height: 16px;
  background-color: var(--color-white);
  border-radius: 2px;
  margin-right: 0.5rem;
  border: 1px solid var(--color-blue);
}
.checkbox__label::after {
  transition: all 0.3s ease 0s;
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 4px;
  left: 4px;
  background-color: var(--color-blue);
  transform: scale(0);
}
.checkbox__label a {
  color: var(--color-pink);
  display: inline-block;
}

/*----------------------------------form--------------------------------*//*# sourceMappingURL=styles.css.map */